html body .container-fluid a:hover {
  text-decoration: none; }
html body .container-fluid.banner {
  background: #000 url(http://umbraco-baltimorecomedy-com.secure37.tivilonhost.com/media/1017/header-bg.png) center top no-repeat;
  min-height: 907px;
  padding: 0; }
  html body .container-fluid.banner .container.location {
    color: #e0d260;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: right;
    text-transform: uppercase; }
    html body .container-fluid.banner .container.location span.yellow {
      letter-spacing: 0.05em; }
    html body .container-fluid.banner .container.location span.highlighted {
      background: url(http://umbraco-baltimorecomedy-com.secure37.tivilonhost.com/media/1008/map-pin-white.png) left center no-repeat;
      color: #fff;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 300;
      margin-left: 10px;
      letter-spacing: 0.04em;
      padding-left: 17px;
      text-transform: none; }
  html body .container-fluid.banner .container.highlighted-events {
    margin-top: 50px; }
    html body .container-fluid.banner .container.highlighted-events .event-img {
      padding-left: 0; }
      html body .container-fluid.banner .container.highlighted-events .event-img img {
        border: 3px solid #fff;
        display: block;
        height: auto;
        width: 100%; }
      html body .container-fluid.banner .container.highlighted-events .event-img a.hidden-xs, html body .container-fluid.banner .container.highlighted-events .event-img a.hidden-sm {
        color: #cfcfcf;
        display: inline-block;
        margin: 10px 1em 0 0;
        -webkit-transition: 0.3s color ease-in-out;
        transition: 0.3s color ease-in-out; }
        html body .container-fluid.banner .container.highlighted-events .event-img a.hidden-xs:hover, html body .container-fluid.banner .container.highlighted-events .event-img a.hidden-sm:hover {
          color: #fff; }
    html body .container-fluid.banner .container.highlighted-events .col-xs-12 {
      margin-bottom: 63px; }
      html body .container-fluid.banner .container.highlighted-events .col-xs-12 .event-img img {
        max-height: 310px;
        width: auto; }
      html body .container-fluid.banner .container.highlighted-events .col-xs-12 .col-sm-9 {
        padding-left: 0;
        padding-right: 3px; }
        html body .container-fluid.banner .container.highlighted-events .col-xs-12 .col-sm-9 h1, html body .container-fluid.banner .container.highlighted-events .col-xs-12 .col-sm-9 h3 {
          font-family: 'Oswald', sans-serif; }
        html body .container-fluid.banner .container.highlighted-events .col-xs-12 .col-sm-9 h1 {
          font-size: 60px;
          letter-spacing: 0.02em;
          margin: 0; }
          html body .container-fluid.banner .container.highlighted-events .col-xs-12 .col-sm-9 h1 a {
            color: #ddd;
            -webkit-transition: 0.3s color ease-in-out;
            transition: 0.3s color ease-in-out; }
            html body .container-fluid.banner .container.highlighted-events .col-xs-12 .col-sm-9 h1 a:hover {
              color: #fff; }
        html body .container-fluid.banner .container.highlighted-events .col-xs-12 .col-sm-9 h3 {
          color: #fff;
          font-size: 24px;
          font-weight: 400;
          margin-top: 0.54167em;
          text-transform: uppercase; }
        html body .container-fluid.banner .container.highlighted-events .col-xs-12 .col-sm-9 h5 {
          color: #e0d260;
          font-size: 20px;
          font-weight: 300;
          line-height: 15px;
          margin-bottom: 0.9em; }
        html body .container-fluid.banner .container.highlighted-events .col-xs-12 .col-sm-9 p {
          color: #fff;
          font-size: 18px;
          letter-spacing: 0.02em; }
        html body .container-fluid.banner .container.highlighted-events .col-xs-12 .col-sm-9 .get-tickets {
          font-size: 24px; }
    html body .container-fluid.banner .container.highlighted-events .col-sm-6 {
      padding-left: 0; }
      html body .container-fluid.banner .container.highlighted-events .col-sm-6.right-column {
        padding-right: 0; }
        html body .container-fluid.banner .container.highlighted-events .col-sm-6.right-column .col-xs-7 {
          padding-right: 0; }
      html body .container-fluid.banner .container.highlighted-events .col-sm-6 .col-xs-7 {
        padding-left: 0; }
        html body .container-fluid.banner .container.highlighted-events .col-sm-6 .col-xs-7 h3 {
          font-family: 'Oswald', sans-serif;
          font-size: 28px;
          font-weight: 400;
          margin-top: 0;
          margin-bottom: 0; }
          html body .container-fluid.banner .container.highlighted-events .col-sm-6 .col-xs-7 h3 a {
            color: #ddd;
            -webkit-transition: 0.3s color ease-in-out;
            transition: 0.3s color ease-in-out; }
            html body .container-fluid.banner .container.highlighted-events .col-sm-6 .col-xs-7 h3 a:hover {
              color: #fff; }
        html body .container-fluid.banner .container.highlighted-events .col-sm-6 .col-xs-7 h5 {
          color: #e0d260;
          font-size: 24px;
          font-weight: 300;
          line-height: 18px;
          margin: 0.33333em 0 0.70833em 0; }
        html body .container-fluid.banner .container.highlighted-events .col-sm-6 .col-xs-7 p {
          color: #fff;
          font-weight: 300; }
        html body .container-fluid.banner .container.highlighted-events .col-sm-6 .col-xs-7 .get-tickets {
          font-size: 17px; }
  html body .container-fluid.banner .container.content-area {
    padding: 0 15px 115px 0; }
    html body .container-fluid.banner .container.content-area.event h3 {
      color: #fff;
      font-family: 'Oswald', sans-serif;
      font-size: 24px;
      font-weight: 400;
      margin: 0;
      text-transform: uppercase; }
    html body .container-fluid.banner .container.content-area.event h5 {
      color: #e0d260;
      font-size: 20px;
      font-weight: 300;
      line-height: 15px;
      margin-bottom: 0.9em; }
    html body .container-fluid.banner .container.content-area.event a.get-tickets {
      color: #000;
      float: none; }
    html body .container-fluid.banner .container.content-area.shows .row h2 {
      color: #fff;
      font-size: 36px;
      margin: 20px 0; }
    html body .container-fluid.banner .container.content-area.shows .row .show-wrapper {
      background: rgba(10, 10, 10, 0.7);
      border: 1px solid #333;
      margin: 0 0 15px 0; }
      html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .col-md-9 {
        border-right: 1px solid #333; }
        html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .col-md-9 .show-content .show .col-xs-12 h3 {
          color: #fff;
          font-size: 22px;
          line-height: 1.3em;
          margin: 10px 0; }
        html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .col-md-9 .show-content .more-info {
          padding: 20px 15px;
          position: relative; }
          html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .col-md-9 .show-content .more-info.hidden-lg {
            display: none; }
          html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .col-md-9 .show-content .more-info .col-xs-12 img {
            float: left;
            margin-right: 15px;
            max-height: 200px; }
          html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .col-md-9 .show-content .more-info .col-xs-12 .get-tickets {
            bottom: 0;
            font-size: 1.3em;
            position: absolute;
            right: 15px;
            text-align: center; }
      html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .col-md-3 .row {
        border-bottom: 1px solid #333;
        padding: 10px 15px; }
        html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .col-md-3 .row h3 {
          margin: 0; }
        html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .col-md-3 .row h5 {
          color: #fff;
          margin-bottom: 0; }
    html body .container-fluid.banner .container.content-area h1 {
      color: #fff;
      font-family: 'Oswald', sans-serif;
      font-size: 50px;
      letter-spacing: 0.05em;
      margin-top: 1.1em;
      max-width: 91%;
      text-transform: uppercase; }
    html body .container-fluid.banner .container.content-area h2 {
      color: #e0d260;
      font-family: 'Oswald', sans-serif;
      font-size: 19px;
      letter-spacing: 0.05em;
      margin: 2.63158em 0 0.42105em 0;
      max-width: 91%;
      text-transform: uppercase; }
    html body .container-fluid.banner .container.content-area h3 {
      color: #e0d260;
      font-size: 18px;
      letter-spacing: 0.03em;
      margin-bottom: 1.5em;
      max-width: 91%; }
    html body .container-fluid.banner .container.content-area p, html body .container-fluid.banner .container.content-area ul {
      color: #fff;
      max-width: 91%; }
    html body .container-fluid.banner .container.content-area p {
      margin-bottom: 1.25em; }
    html body .container-fluid.banner .container.content-area li {
      list-style: none; }
      html body .container-fluid.banner .container.content-area li:before {
        content: "-";
        position: relative;
        left: -3px; }
    html body .container-fluid.banner .container.content-area a {
      color: #e0d260;
      -webkit-transition: 0.3s color ease-in-out;
      transition: 0.3s color ease-in-out; }
      html body .container-fluid.banner .container.content-area a:hover {
        color: #ebe197;
        text-decoration: none; }
      html body .container-fluid.banner .container.content-area a.get-tickets {
        background: #e0d260;
        color: #000;
        display: inline-block;
        float: right;
        line-height: 1em;
        padding: 0.54167em 1.45833em;
        -webkit-transition: 0.3s background ease-in-out;
        transition: 0.3s background ease-in-out; }
        html body .container-fluid.banner .container.content-area a.get-tickets:hover {
          background: #d9c73e;
          text-decoration: none; }
  html body .container-fluid.banner .container .get-tickets {
    background: #e0d260;
    color: #000;
    display: inline-block;
    float: right;
    line-height: 1em;
    padding: 0.54167em 1.45833em;
    -webkit-transition: 0.3s background ease-in-out;
    transition: 0.3s background ease-in-out; }
    html body .container-fluid.banner .container .get-tickets:hover {
      background: #d9c73e;
      text-decoration: none; }
  html body .container-fluid.banner .container-fluid.nav-wrap {
    background: rgba(0, 0, 0, 0.7); }
    html body .container-fluid.banner .container-fluid.nav-wrap .container.desktop-nav {
      height: 101px; }
      html body .container-fluid.banner .container-fluid.nav-wrap .container.desktop-nav .logo {
        background: url(http://umbraco-baltimorecomedy-com.secure37.tivilonhost.com/media/1006/logo-bg-lg.jpg) no-repeat;
        height: 101px;
        text-align: center; }
      html body .container-fluid.banner .container-fluid.nav-wrap .container.desktop-nav .nav-bar {
        text-align: right; }
        html body .container-fluid.banner .container-fluid.nav-wrap .container.desktop-nav .nav-bar h2.phone {
          font-size: 28px;
          line-height: 19px;
          margin: 0.57143em 0 1.21429em 0; }
          html body .container-fluid.banner .container-fluid.nav-wrap .container.desktop-nav .nav-bar h2.phone a {
            color: #e0d260;
            -webkit-transition: 0.3s color ease-in-out;
            transition: 0.3s color ease-in-out; }
            html body .container-fluid.banner .container-fluid.nav-wrap .container.desktop-nav .nav-bar h2.phone a:hover {
              color: #e7db82;
              text-decoration: none; }
        html body .container-fluid.banner .container-fluid.nav-wrap .container.desktop-nav .nav-bar ul {
          float: right;
          list-style: none;
          margin: 0;
          padding: 0; }
          html body .container-fluid.banner .container-fluid.nav-wrap .container.desktop-nav .nav-bar ul li {
            float: left;
            font-family: 'Oswald', sans-serif;
            font-size: 16px;
            font-weight: 300;
            margin: 0 0 0 3.9375em;
            letter-spacing: 0.03em;
            padding: 0;
            text-transform: uppercase; }
            html body .container-fluid.banner .container-fluid.nav-wrap .container.desktop-nav .nav-bar ul li:first-child {
              margin: 0; }
            html body .container-fluid.banner .container-fluid.nav-wrap .container.desktop-nav .nav-bar ul li a {
              color: #cfcfcf;
              -webkit-transition: 0.3s color ease-in-out;
              transition: 0.3s color ease-in-out; }
              html body .container-fluid.banner .container-fluid.nav-wrap .container.desktop-nav .nav-bar ul li a:hover {
                color: #fff;
                text-decoration: none; }
html body .container-fluid.contact {
  background-color: #381012;
  background-image: url(http://umbraco-baltimorecomedy-com.secure37.tivilonhost.com/media/1004/contact-section-bg.jpg);
  background-image: -webkit-linear-gradient(left, #381012, #792226 50%, #381012);
  background-image: linear-gradient(to right, #381012, #792226 50%, #381012);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF381012', endColorstr='#FF381012', GradientType=1);
  background-position-x: center;
  background-repeat: repeat-y; }
  html body .container-fluid.contact .container {
    margin: 52px auto 84px auto;
    padding: 0; }
    html body .container-fluid.contact .container .row {
      color: #fff;
      margin-right: -9px; }
      html body .container-fluid.contact .container .row h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 48px; }
      html body .container-fluid.contact .container .row .col-sm-7 .form .row {
        margin: 0 -15px 28px -15px; }
        html body .container-fluid.contact .container .row .col-sm-7 .form .row:last-child {
          margin-bottom: 0; }
        html body .container-fluid.contact .container .row .col-sm-7 .form .row .form-control {
          border-radius: 0; }
        html body .container-fluid.contact .container .row .col-sm-7 .form .row label {
          font-weight: 300;
          margin: 0 27px 0 10px; }
        html body .container-fluid.contact .container .row .col-sm-7 .form .row h5 {
          font-size: 18px;
          margin-top: -10px; }
        html body .container-fluid.contact .container .row .col-sm-7 .form .row .sign-up {
          background: #e0d260;
          border: 0;
          color: #000;
          display: inline-block;
          font-size: 18px;
          float: right;
          line-height: 1em;
          padding: 0.54167em 1.45833em;
          -webkit-transition: 0.3s background ease-in-out;
          transition: 0.3s background ease-in-out; }
          html body .container-fluid.contact .container .row .col-sm-7 .form .row .sign-up:hover {
            background: #d9c73e;
            text-decoration: none; }
      html body .container-fluid.contact .container .row .col-sm-4 h1 {
        margin: 20px 0 22px -15px; }
      html body .container-fluid.contact .container .row .col-sm-4 .row {
        margin-right: -15px; }
        html body .container-fluid.contact .container .row .col-sm-4 .row .col-sm-4 {
          height: 115px;
          margin: 0 10px 13px 0;
          overflow: hidden;
          padding: 0;
          position: relative;
          width: 115px; }
          html body .container-fluid.contact .container .row .col-sm-4 .row .col-sm-4:last-child {
            margin-right: 0; }
          html body .container-fluid.contact .container .row .col-sm-4 .row .col-sm-4 img {
            height: 100%;
            min-width: 100%;
            opacity: 0.8;
            filter: alpha(opacity=80);
            -webkit-transition: 0.3s opacity ease-in-out;
            transition: 0.3s opacity ease-in-out;
            -webkit-backface-visibility: hidden; }
            html body .container-fluid.contact .container .row .col-sm-4 .row .col-sm-4 img:hover {
              opacity: 1;
              filter: alpha(opacity=100); }
        html body .container-fluid.contact .container .row .col-sm-4 .row:last-child .col-sm-4 {
          margin-bottom: 0; }
html body .container-fluid.footer {
  background: #000; }
  html body .container-fluid.footer .row .container {
    background: url(http://umbraco-baltimorecomedy-com.secure37.tivilonhost.com/media/1003/footer-gears.png) no-repeat 15px 100%;
    padding-top: 70px; }
    html body .container-fluid.footer .row .container .row.copyright {
      margin-bottom: 16px; }
    html body .container-fluid.footer .row .container .row a {
      color: #cfcfcf;
      -webkit-transition: 0.3s color ease-in-out;
      transition: 0.3s color ease-in-out; }
      html body .container-fluid.footer .row .container .row a:hover {
        color: #fff; }
    html body .container-fluid.footer .row .container .row.copyright {
      color: #333;
      font-size: 15px;
      text-align: center; }
    html body .container-fluid.footer .row .container .row .col-sm-8 ul {
      margin: 0;
      overflow: hidden;
      padding: 0; }
      html body .container-fluid.footer .row .container .row .col-sm-8 ul li {
        float: left;
        font-size: 18px;
        list-style: none;
        margin: 0 42px 0 0;
        padding: 0; }
        html body .container-fluid.footer .row .container .row .col-sm-8 ul li:last-child {
          margin-right: 0; }
        html body .container-fluid.footer .row .container .row .col-sm-8 ul li a {
          color: #cfcfcf;
          line-height: 1em;
          -webkit-transition: 0.3s color ease-in-out;
          transition: 0.3s color ease-in-out; }
          html body .container-fluid.footer .row .container .row .col-sm-8 ul li a:hover {
            color: #fff; }
        html body .container-fluid.footer .row .container .row .col-sm-8 ul li ul {
          margin-top: 5px; }
          html body .container-fluid.footer .row .container .row .col-sm-8 ul li ul li {
            float: none;
            font-size: 14px;
            font-weight: 300;
            margin: 0;
            padding: 5px 0; }
    html body .container-fluid.footer .row .container .row .col-sm-4 {
      margin-bottom: 60px;
      text-align: right; }
      html body .container-fluid.footer .row .container .row .col-sm-4 img {
        margin-left: 10px;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -webkit-transition: 0.3s opacity ease-in-out;
        transition: 0.3s opacity ease-in-out; }
        html body .container-fluid.footer .row .container .row .col-sm-4 img:hover {
          opacity: 1;
          filter: alpha(opacity=100); }
      html body .container-fluid.footer .row .container .row .col-sm-4 h4 {
        font-size: 28px;
        margin-top: 25px; }
      html body .container-fluid.footer .row .container .row .col-sm-4 .location {
        background: url(http://umbraco-baltimorecomedy-com.secure37.tivilonhost.com/media/1008/map-pin-white.png) left center no-repeat;
        color: #fff;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 300;
        margin-left: 10px;
        letter-spacing: 0.04em;
        padding: 3px 0 0 17px;
        text-transform: none; }

@media (max-width: 1200px) {
  html body .container-fluid.banner .container-fluid.nav-wrap .container.desktop-nav .logo {
    background: url(http://umbraco-baltimorecomedy-com.secure37.tivilonhost.com/media/1007/logo-bg-md.jpg) no-repeat; }
  html body .container-fluid.banner .container.highlighted-events .event-img.col-sm-3 {
    padding: 0;
    width: 208px; }
  html body .container-fluid.banner .container.highlighted-events .event-img img {
    height: auto;
    max-width: 100%; }
  html body .container-fluid.banner .container.highlighted-events .col-xs-12 .col-sm-9 {
    padding-left: 15px;
    width: 778px; }
  html body .container-fluid.banner .container.highlighted-events .col-sm-6 {
    padding-left: 0;
    padding-right: 0; }
    html body .container-fluid.banner .container.highlighted-events .col-sm-6.right-column .event-img {
      margin-left: 54px; }
    html body .container-fluid.banner .container.highlighted-events .col-sm-6 .get-tickets {
      margin-top: 9px; }
    html body .container-fluid.banner .container.highlighted-events .col-sm-6 .event-img {
      padding: 0;
      width: 150px; }
      html body .container-fluid.banner .container.highlighted-events .col-sm-6 .event-img img {
        height: auto;
        width: 100%; }
    html body .container-fluid.banner .container.highlighted-events .col-sm-6 .col-xs-7 {
      padding-left: 8px;
      padding-right: 0;
      width: 286px; }
  html body .container-fluid.banner .container.content-area.shows .show .col-sm-10 .col-lg-9 {
    height: 66px; }
    html body .container-fluid.banner .container.content-area.shows .show .col-sm-10 .col-lg-9 h3 {
      font-size: 18px; }
  html body .container-fluid.banner .container.content-area.shows .show .col-sm-10 .col-lg-3 {
    height: 66px; }
    html body .container-fluid.banner .container.content-area.shows .show .col-sm-10 .col-lg-3 h4 {
      font-size: 16px; }
    html body .container-fluid.banner .container.content-area.shows .show .col-sm-10 .col-lg-3 h5 {
      font-size: 14px; }
  html body .container-fluid.banner .container.content-area.shows .show .col-sm-2 .get-tickets {
    line-height: 66px; }
  html body .container-fluid.contact .container .row .col-sm-4 .row .col-sm-4 {
    height: 96px;
    margin: 0 7px 10px 0;
    width: 96px; } }

@media (max-width: 992px) {
  html body .container-fluid.banner .container-fluid.nav-wrap .container.desktop-nav .logo {
    background: url(http://umbraco-baltimorecomedy-com.secure37.tivilonhost.com/media/1005/logo-bg-sm.jpg); }
    html body .container-fluid.banner .container-fluid.nav-wrap .container.desktop-nav .logo img {
      margin-top: 14px;
      width: 92%; }
  html body .container-fluid.banner .container-fluid.nav-wrap .container.desktop-nav .nav-bar ul li {
    font-size: 16px;
    margin: 0 0 0 40px; }
  html body .container-fluid.banner .container.location {
    font-size: 14px; }
  html body .container-fluid.banner .container.highlighted-events .event-img.col-sm-3 {
    width: 25%; }
  html body .container-fluid.banner .container.highlighted-events .event-img a {
    display: inline-block;
    font-size: 12px;
    margin-right: 0.5em; }
  html body .container-fluid.banner .container.highlighted-events .col-xs-12 .col-sm-9 {
    padding-right: 0;
    width: 75%; }
    html body .container-fluid.banner .container.highlighted-events .col-xs-12 .col-sm-9 h1 {
      font-size: 50px; }
    html body .container-fluid.banner .container.highlighted-events .col-xs-12 .col-sm-9 p {
      font-size: 14px; }
  html body .container-fluid.banner .container.highlighted-events .col-sm-6.right-column .event-img {
    margin-left: 8.33333%; }
  html body .container-fluid.banner .container.highlighted-events .col-sm-6 .event-img {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    width: 33.33333%; }
    html body .container-fluid.banner .container.highlighted-events .col-sm-6 .event-img img {
      max-height: 214px; }
  html body .container-fluid.banner .container.highlighted-events .col-sm-6 .col-xs-7 {
    padding-left: 15px;
    padding-right: 15px;
    width: 58.33333%; }
    html body .container-fluid.banner .container.highlighted-events .col-sm-6 .col-xs-7 h5 {
      font-size: 16px; }
    html body .container-fluid.banner .container.highlighted-events .col-sm-6 .col-xs-7 p.hidden-xs {
      font-size: 13px; }
  html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .col-md-9 {
    border-right: 0;
    height: auto;
    padding-right: 15px; }
    html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .col-md-9 .col-lg-9 {
      height: auto; }
      html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .col-md-9 .col-lg-9 h3 {
        font-size: 18px; }
    html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .col-md-9 .col-lg-3 {
      border-left: 0;
      border-top: 1px solid #333;
      height: auto; }
      html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .col-md-9 .col-lg-3 h4 {
        font-size: 14px;
        margin-bottom: 5px; }
      html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .col-md-9 .col-lg-3 h5 {
        margin-top: 0; }
  html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .col-md-3 {
    border-top: 1px solid #333; }
  html body .container-fluid.contact .container .row .col-sm-7 .form .row h5 {
    font-size: 15px;
    margin: -2px 0 3px 0; }
  html body .container-fluid.contact .container .row .col-sm-4 .row .col-sm-4 {
    height: 72px;
    margin: 0 5px 8px 0;
    width: 72px; } }

@media (max-width: 768px) {
  html body .container-fluid.banner {
    background-size: 100% 100%;
    height: auto; }
    html body .container-fluid.banner .container.location span.highlighted {
      display: inline-block;
      font-size: 12px; }
    html body .container-fluid.banner .container.highlighted-events {
      margin: 30px auto; }
      html body .container-fluid.banner .container.highlighted-events .event-img.col-sm-3 {
        width: 41.66667%; }
      html body .container-fluid.banner .container.highlighted-events .get-tickets {
        float: none;
        margin-top: 0.5em; }
      html body .container-fluid.banner .container.highlighted-events .col-xs-12 {
        margin-bottom: 20px; }
        html body .container-fluid.banner .container.highlighted-events .col-xs-12 .event-img {
          padding-left: 15px; }
          html body .container-fluid.banner .container.highlighted-events .col-xs-12 .event-img img {
            max-height: 200px;
            width: auto; }
        html body .container-fluid.banner .container.highlighted-events .col-xs-12 .col-sm-9 {
          width: 58.33333%; }
          html body .container-fluid.banner .container.highlighted-events .col-xs-12 .col-sm-9 h1 {
            font-size: 30px; }
          html body .container-fluid.banner .container.highlighted-events .col-xs-12 .col-sm-9 h3 {
            font-size: 24px; }
          html body .container-fluid.banner .container.highlighted-events .col-xs-12 .col-sm-9 h5 {
            font-size: 16px; }
          html body .container-fluid.banner .container.highlighted-events .col-xs-12 .col-sm-9 .get-tickets {
            font-size: 17px; }
      html body .container-fluid.banner .container.highlighted-events .col-sm-6 {
        padding-left: 15px;
        padding-right: 15px; }
        html body .container-fluid.banner .container.highlighted-events .col-sm-6.right-column .event-img {
          margin-left: 0; }
        html body .container-fluid.banner .container.highlighted-events .col-sm-6 .event-img {
          padding-left: 0;
          width: 41.66667%; }
        html body .container-fluid.banner .container.highlighted-events .col-sm-6 .col-xs-7 {
          padding-left: 15px; }
          html body .container-fluid.banner .container.highlighted-events .col-sm-6 .col-xs-7 h3 {
            font-size: 30px; }
          html body .container-fluid.banner .container.highlighted-events .col-sm-6 .col-xs-7 h5 {
            font-size: 16px; }
    html body .container-fluid.banner .container.content-area {
      padding-left: 15px; }
      html body .container-fluid.banner .container.content-area.shows .row .show-wrapper a.get-tickets {
        line-height: 2em;
        text-align: center;
        width: 100%; }
      html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .show .col-sm-12 {
        height: auto;
        padding-right: 15px; }
        html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .show .col-sm-12 .col-lg-9 {
          height: auto; }
          html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .show .col-sm-12 .col-lg-9 h3 {
            font-size: 18px; }
        html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .show .col-sm-12 .col-lg-3 {
          border-left: 0;
          border-top: 1px solid #333;
          height: auto; }
          html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .show .col-sm-12 .col-lg-3 h4 {
            font-size: 14px;
            margin-bottom: 5px; }
          html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .show .col-sm-12 .col-lg-3 h5 {
            margin-top: 0; }
      html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .show .show-info {
        background: rgba(10, 10, 10, 0);
        border-top: 1px solid #333;
        color: #fff;
        text-align: center;
        -webkit-transition: 0.3s background ease-in-out;
        transition: 0.3s background ease-in-out; }
        html body .container-fluid.banner .container.content-area.shows .row .show-wrapper .show .show-info:hover {
          background: rgba(0, 0, 0, 0.5);
          cursor: pointer; }
      html body .container-fluid.banner .container.content-area h1 {
        font-size: 36px; }
      html body .container-fluid.banner .container.content-area h3 {
        font-size: 15px; }
      html body .container-fluid.banner .container.content-area ul {
        padding-left: 1.3em; }
      html body .container-fluid.banner .container.content-area iframe {
        height: 290px !important;
        width: 290px !important; }
    html body .container-fluid.banner .container-fluid.nav-wrap {
      height: auto; }
      html body .container-fluid.banner .container-fluid.nav-wrap nav {
        background: none;
        border: none;
        margin-bottom: 0; }
        html body .container-fluid.banner .container-fluid.nav-wrap nav button {
          background: none;
          border-color: #e0e0e0;
          margin-top: 18px; }
          html body .container-fluid.banner .container-fluid.nav-wrap nav button:focus {
            background: rgba(60, 60, 60, 0.5); }
          html body .container-fluid.banner .container-fluid.nav-wrap nav button .icon-bar {
            background-color: #e0e0e0; }
        html body .container-fluid.banner .container-fluid.nav-wrap nav .navbar-brand {
          height: auto;
          padding: 9px; }
          html body .container-fluid.banner .container-fluid.nav-wrap nav .navbar-brand img {
            height: 53px; }
        html body .container-fluid.banner .container-fluid.nav-wrap nav .navbar-collapse ul.navbar-nav li {
          font-family: 'Oswald', sans-serif;
          font-weight: 300;
          letter-spacing: 0.13em;
          text-transform: uppercase; }
          html body .container-fluid.banner .container-fluid.nav-wrap nav .navbar-collapse ul.navbar-nav li.open a {
            background: #292929; }
          html body .container-fluid.banner .container-fluid.nav-wrap nav .navbar-collapse ul.navbar-nav li.open ul li a {
            background: transparent; }
          html body .container-fluid.banner .container-fluid.nav-wrap nav .navbar-collapse ul.navbar-nav li.active a {
            background: #292929; }
          html body .container-fluid.banner .container-fluid.nav-wrap nav .navbar-collapse ul.navbar-nav li a {
            color: #fff; }
  html body .container-fluid.contact .container {
    margin: 50px auto; }
    html body .container-fluid.contact .container .row .col-sm-7 h1 {
      font-size: 32px;
      margin-top: 0; }
    html body .container-fluid.contact .container .row .col-sm-7 .form .row h5 {
      font-size: 14px;
      margin: -15px 0 3px 0; }
  html body .container-fluid.footer .row .container .row .col-sm-8 ul li {
    float: none;
    margin: 20px 0; }
    html body .container-fluid.footer .row .container .row .col-sm-8 ul li:first-child {
      margin-top: 0; }
    html body .container-fluid.footer .row .container .row .col-sm-8 ul li a {
      color: #fff; }
    html body .container-fluid.footer .row .container .row .col-sm-8 ul li ul li {
      font-size: 13px;
      letter-spacing: 0.05em; }
  html body .container-fluid.footer .row .container .row .col-sm-4 h4 {
    font-size: 20px; }
    html body .container-fluid.footer .row .container .row .col-sm-4 h4 a {
      color: #fff; }
  html body .container-fluid.footer .row .container .row .col-sm-4 img {
    height: auto;
    max-width: 45%; } }
