@import "bootstrap/_variables.scss";
@import "bootstrap/_mixins.scss";

$oswald: 'Oswald', sans-serif;
$helvetica: "Helvetica Neue",Helvetica,Arial,sans-serif;
$yellow: #e0d260;

html {
	body {
		.container-fluid {
			a {
				&:hover {
					text-decoration: none;
				}
			}
			&.banner {
				background: #000 url(http://umbraco-baltimorecomedy-com.secure37.tivilonhost.com/media/1017/header-bg.png) center top no-repeat;
				min-height: 907px;
				padding: 0;
				.container {
					&.location {
						color: $yellow;
						font-family: $oswald;
						font-size: 16px;
						font-weight: 300;
						line-height:30px;
						text-align: right;
						text-transform: uppercase;
						span {
							&.yellow {
								letter-spacing: .05em;
							}
							&.highlighted {
								background: url(http://umbraco-baltimorecomedy-com.secure37.tivilonhost.com/media/1008/map-pin-white.png) left center no-repeat;
								color: #fff;
								font-family: $helvetica;
								font-weight: 300;
								margin-left: 10px;
								letter-spacing: .04em;
								padding-left: 17px;
								text-transform: none;
							}
						}
					}
					&.highlighted-events {
						margin-top: 50px;
						.event-img {
							padding-left: 0;
							img {
								border: 3px solid #fff;
								display: block;
								height: auto;
								width: 100%;
							}
							a {
								&.hidden-xs, &.hidden-sm {
									color: #cfcfcf;
									display: inline-block;
									margin: 10px 1em 0 0;
									@include transition(.3s color ease-in-out);
									&:hover {
										color: #fff;
									}
								}
							}
						}
						.col-xs-12 {
							margin-bottom: 63px;
							.event-img {
								img {
									max-height: 310px;
									width: auto;
								}
							}
							.col-sm-9 {
								padding-left: 0;
								padding-right: 3px;
								h1, h3 {
									font-family: $oswald;
								}
								h1 {
									font-size: 60px;
									letter-spacing: .02em;
									margin: 0;
									a {
										color: #ddd;
										@include transition(.3s color ease-in-out);
										&:hover {
											color: #fff;
										}
									}
								}
								h3 {
									color: #fff;
									font-size: 24px;
									font-weight: 400;
									margin-top: 0.54166667em;
									text-transform: uppercase;
								}
								h5 {
									color: $yellow;
									font-size: 20px;
									font-weight: 300;
									line-height: 15px;
									margin-bottom: 0.9em;
								}
								p {
									color: #fff;
									font-size: 18px;
									letter-spacing: .02em;
								}
								.get-tickets {
									font-size: 24px;
								}
							}
						}
						.col-sm-6 {
							padding-left:0;
							&.right-column {
								padding-right: 0;
								.col-xs-7 {
									padding-right: 0;
								}
							}
							.col-xs-7 {
								padding-left: 0;
								h3 {
									font-family: $oswald;
									font-size: 28px;
									font-weight: 400;
									margin-top: 0;
									margin-bottom: 0;
									a {
										color: #ddd;
										@include transition(.3s color ease-in-out);
										&:hover {
											color: #fff;
										}
									}
								}
								h5 {
									color: $yellow;
									font-size: 24px;
									font-weight: 300;
									line-height: 18px;
									margin: 0.33333333em 0 0.70833333em 0;
								}
								p {
									color: #fff;
									font-weight: 300;
								}
								.get-tickets {
									font-size: 17px;
								}
							}
						}
					}
					&.content-area {
						padding: 0 15px 115px 0;
						&.event {
							h3 {
								color: #fff;
								font-family: $oswald;
								font-size: 24px;
								font-weight: 400;
								margin: 0;
								text-transform: uppercase;
							}
							h5 {
								color: $yellow;
								font-size: 20px;
								font-weight: 300;
								line-height: 15px;
								margin-bottom: 0.9em;
							}
							a {
								&.get-tickets {
									color: #000;
									float: none;
								}
							}
						}
						&.shows {
							.row {
								h2 {
									color: #fff;
									font-size: 36px;
									margin: 20px 0;
								}
								.show-wrapper {
									background: rgba(10,10,10,.7);
									border: 1px solid #333;
									margin: 0 0 15px 0;
									.col-md-9 {
										border-right: 1px solid #333;
										.show-content {
											.show {
												.col-xs-12 {
													h3 {
														color: #fff;
														font-size: 22px;
														line-height: 1.3em;
														margin: 10px 0;
													}
												}
											}
											.more-info {
												padding: 20px 15px;
												position: relative;
												&.hidden-lg {
													display: none;
												} 
												.col-xs-12 {
													img {
														float: left;
														margin-right: 15px;
														max-height: 200px;
													}
													.get-tickets {
														bottom: 0;
														font-size: 1.3em;
														position: absolute;
														right: 15px;
														text-align: center;
													}
												}
											}
										}
									}
									.col-md-3 {
										.row {
											border-bottom: 1px solid #333;
											padding: 10px 15px;
											h3 {
												margin: 0;
											}
											h5 {
												color: #fff;
												margin-bottom: 0;
											}
										}
									}
								}
							}
						}
						h1 {
							color: #fff;
							font-family: $oswald;
							font-size: 50px;
							letter-spacing: .05em;
							margin-top: 1.1em;
							max-width: 91%;
							text-transform: uppercase;
						}
						h2 {
							color: $yellow;
							font-family: $oswald;
							font-size: 19px;
							letter-spacing: .05em;
							margin: 2.63157895em 0 0.42105263em 0;
							max-width: 91%;
							text-transform: uppercase;
						}
						h3 {
							color: $yellow;
							font-size: 18px;
							letter-spacing: .03em;
							margin-bottom: 1.5em;
							max-width: 91%;
						}
						p, ul {
							color: #fff;
							max-width: 91%;
						}
						p {
							margin-bottom: 1.25em;
						}
						li {
							list-style: none;
							&:before{ content:"-"; position:relative; left:-3px;}
						}
						a {
							color: $yellow;
							@include transition(.3s color ease-in-out);
							&:hover {
								color: lighten($yellow,13%);
								text-decoration: none;
							}
							&.get-tickets {
								background: $yellow;
								color: #000;
								display: inline-block;
								float: right;
								line-height: 1em;
								padding: .54166667em 1.45833333em;
								@include transition(.3s background ease-in-out);
								&:hover {
									background: darken($yellow,8%);
									text-decoration: none;
								}
							}
						}
					}
					.get-tickets {
						background: $yellow;
						color: #000;
						display: inline-block;
						float: right;
						line-height: 1em;
						padding: .54166667em 1.45833333em;
						@include transition(.3s background ease-in-out);
						&:hover {
							background: darken($yellow,8%);
							text-decoration: none;
						}
					}
				}
				.container-fluid {
					&.nav-wrap {
						background: rgba(0,0,0,.7);
						.container {
							&.desktop-nav {
								height: 101px;
								.logo {
									background: url(http://umbraco-baltimorecomedy-com.secure37.tivilonhost.com/media/1006/logo-bg-lg.jpg) no-repeat;
									height: 101px;
									text-align: center;
								}
								.nav-bar {
									text-align: right;
									h2 {
										&.phone {
											font-size: 28px;
											line-height: 19px;
											margin: 0.57142857em 0 1.21428571em 0;
											a {
												color: $yellow;
												@include transition(.3s color ease-in-out);
												&:hover {
													color: lighten($yellow,8%);
													text-decoration: none;
												}
											}
										}
									}
									ul {
										float: right;
										list-style: none;
										margin: 0;
										padding: 0;
										li {
											float: left;
											font-family: $oswald;
											font-size: 16px;
											font-weight: 300;
											margin: 0 0 0 3.9375em;
											letter-spacing: .03em;
											padding: 0;
											text-transform: uppercase;
											&:first-child {
												margin: 0;
											}
											a {
												color: #cfcfcf;
												@include transition(.3s color ease-in-out);
												&:hover {
													color: #fff;
													text-decoration: none;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
			&.contact {
				background-color: #381012;
				background-image: url(http://umbraco-baltimorecomedy-com.secure37.tivilonhost.com/media/1004/contact-section-bg.jpg);
				@include gradient-horizontal-three-colors(#381012, #792226, 50%, #381012);
				background-position-x: center;
				background-repeat: repeat-y;
				.container {
					margin: 52px auto 84px auto;
					padding: 0;
					.row {
						color: #fff;
						margin-right: -9px;
						h1 {
							font-family: $oswald;
							font-size: 48px;
						}
						.col-sm-7 {
							.form {
								.row {
									margin: 0 -15px 28px -15px;
									&:last-child {
										margin-bottom: 0;
									}
									.form-control {
										border-radius: 0;
									}
									label {
										font-weight: 300;
										margin: 0 27px 0 10px;
									}
									h5 {
										font-size: 18px;
										margin-top: -10px;;
									}
									.sign-up {
										background: $yellow;
										border: 0;
										color: #000;
										display: inline-block;
										font-size: 18px;
										float: right;
										line-height: 1em;
										padding: .54166667em 1.45833333em;
										@include transition(.3s background ease-in-out);
										&:hover {
											background: darken($yellow,8%);
											text-decoration: none;
										}
									}
								}
							}
						}
						.col-sm-4 {
							h1 {
								margin: 20px 0 22px -15px;
							}
							.row {
								margin-right: -15px;
								.col-sm-4 {
									height: 115px;
									margin: 0 10px 13px 0;
									overflow: hidden;
									padding: 0;
									position: relative;
									width: 115px;
									&:last-child {
										margin-right: 0;
									}
									img {
										height: 100%;
										min-width: 100%;
										@include opacity(.8);
										@include transition(.3s opacity ease-in-out);
										&:hover {
											@include opacity(1);
										}
										-webkit-backface-visibility: hidden;
									}
								}
								&:last-child {
									.col-sm-4 {
										margin-bottom: 0;
									}
								}
							}
						}
					}
				}
			}
			&.footer {
				background: #000;
				.row {
					.container {
						background: url(http://umbraco-baltimorecomedy-com.secure37.tivilonhost.com/media/1003/footer-gears.png) no-repeat 15px 100%;
						padding-top: 70px;
						.row {
							&.copyright {
								margin-bottom: 16px;
							}
							a {
								color: #cfcfcf;
								@include transition(.3s color ease-in-out);
								&:hover {
									color: #fff;
								}
							}
							&.copyright {
								color: #333;
								font-size: 15px;
								text-align: center;
							}
							.col-sm-8 {
								ul {
									margin: 0;
									overflow: hidden;
									padding: 0;
									li {
										float: left;
										font-size: 18px;
										list-style: none;
										margin: 0 42px 0 0;
										padding: 0;
										&:last-child {
											margin-right: 0;
										}
										a {
											color: #cfcfcf;
											line-height: 1em;
											@include transition(.3s color ease-in-out);
											&:hover {
												color: #fff;
											}
										}
										ul {
											margin-top: 5px;
											li {
												float: none;
												font-size: 14px;
												font-weight: 300;
												margin: 0;
												padding: 5px 0;
											}
										}
									}
								}
							}
							.col-sm-4 {
								margin-bottom: 60px;
								text-align: right;
								img {
									margin-left: 10px;
									@include opacity(.8);
									@include transition(.3s opacity ease-in-out);
									&:hover {
										@include opacity(1);
									}
								}
								h4 {
									font-size: 28px;
									margin-top: 25px;
								}
								.location {
									background: url(http://umbraco-baltimorecomedy-com.secure37.tivilonhost.com/media/1008/map-pin-white.png) left center no-repeat;
									color: #fff;
									font-family: $helvetica;
									font-weight: 300;
									margin-left: 10px;
									letter-spacing: .04em;
									padding: 3px 0 0 17px;
									text-transform: none;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: $screen-lg-min) {
	html {
		body {
			.container-fluid {
				&.banner {
					.container-fluid {
						&.nav-wrap {
							.container {
								&.desktop-nav {
									.logo {
										background: url(http://umbraco-baltimorecomedy-com.secure37.tivilonhost.com/media/1007/logo-bg-md.jpg) no-repeat;
									}
								}
							}
						}
					}
					.container {
						&.highlighted-events {
							.event-img {
								&.col-sm-3 {
									padding: 0;
									width: 208px;
								}
								img {
									height: auto;
									max-width: 100%;
								}
							}
							.col-xs-12 {
								.col-sm-9 {
									padding-left: 15px;
									width: 778px;
								}
							}
							.col-sm-6 {
								padding-left: 0;
								padding-right: 0;
								&.right-column {
									.event-img {
										margin-left: 54px;
									}
								}
								.get-tickets {
									margin-top: 9px;
								}
								.event-img {
									padding: 0;
									width: 150px;
									img {
										height: auto;
										width: 100%;
									}
								}
								.col-xs-7 {
									padding-left: 8px;
									padding-right: 0;
									width: 286px;
								}
							}
						}
						&.content-area {
							&.shows {
								.show {
									.col-sm-10 {
										.col-lg-9 {
											height: 66px;
											h3 {
												font-size: 18px;
											}
										}
										.col-lg-3 {
											height: 66px;
											h4 {
												font-size:16px;
											}
											h5 {
												font-size: 14px;
											}
										}
									}
									.col-sm-2 {
										.get-tickets {
											line-height: 66px;
										}
									}
								}
							}
						}
					}
				}
				&.contact {
					.container {
						.row {
							.col-sm-4 {
								.row {
									.col-sm-4 {
										height: 96px;
										margin: 0 7px 10px 0;
										width: 96px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: $screen-md-min) {
	html {
		body {
			.container-fluid {
				&.banner {
					.container-fluid {
						&.nav-wrap {
							.container {
								&.desktop-nav {
									.logo {
										background: url(http://umbraco-baltimorecomedy-com.secure37.tivilonhost.com/media/1005/logo-bg-sm.jpg);
										img {
											margin-top: 14px;
											width: 92%;
										}
									}
									.nav-bar {
										ul {
											li {
												font-size: 16px;
												margin: 0 0 0 40px;
											}
										}
									}
								}
							}
						}
					}
					.container {
						&.location {
							font-size: 14px;
						}
						&.highlighted-events {
							.event-img {
								&.col-sm-3 {
									width: 25%;
								}
								a {
									display: inline-block;
									font-size: 12px;
									margin-right: .5em;
								}
							}
							.col-xs-12 {
								.col-sm-9 {
									padding-right: 0;
									width: 75%;
									h1 {
										font-size: 50px;
									}
									p {
										font-size: 14px;
									}
								}
							}
							.col-sm-6 {
								&.right-column {
									.event-img {
										margin-left: 8.33333%;
									}
								}
								.event-img {
									margin-left: 0;
									padding-left: 0;
									padding-right: 0;
									width: 33.33333%;
									img {
										max-height: 214px;
									}
								}
								.col-xs-7 {
									padding-left: 15px;
									padding-right: 15px;
									width: 58.33333%;
									h5 {
										font-size: 16px;
									}
									p {
										&.hidden-xs {
											font-size: 13px;
										}
									}
								}
							}
						}
						&.content-area {
							&.shows {
								.row {
									.show-wrapper {
										.col-md-9 {
											border-right: 0;
											height: auto;
											padding-right: 15px;
											.col-lg-9 {
												height: auto;
												h3 {
													font-size: 18px;
												}
											}
											.col-lg-3 {
												border-left: 0;
												border-top: 1px solid #333;
												height: auto;
												h4 {
													font-size: 14px;
													margin-bottom: 5px;
												}
												h5 {
													margin-top: 0;
												}
											}
										}
										.col-md-3 {
											border-top: 1px solid #333;
										}
									}
								}
							}
						}
					}
				}
				&.contact {
					.container {
						.row {
							.col-sm-7 {
								.form {
									.row {
										h5 {
											font-size: 15px;
											margin: -2px 0 3px 0;
										}
									}
								}
							}
							.col-sm-4 {
								.row {
									.col-sm-4 {
										height: 72px;
										margin: 0 5px 8px 0;
										width: 72px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: $screen-sm-min) {
	html {
		body {
			.container-fluid {
				&.banner {
					background-size: 100% 100%;
					height: auto;
					.container {
						&.location {
							span {
								&.highlighted {
									display: inline-block;
									font-size: 12px;
								}
							}
						}
						&.highlighted-events {
							margin: 30px auto;
							.event-img {
								&.col-sm-3 {
									width: 41.66667%;
								}
							}
							.get-tickets {
								float: none;
								margin-top: .5em;
							}
							.col-xs-12 {
								margin-bottom: 20px;
								.event-img {
									padding-left: 15px;
									img {
										max-height: 200px;
										width: auto;						
									}
								}
								.col-sm-9 {
									width: 58.33333%;
									h1 {
										font-size: 30px;
									}
									h3 {
										font-size: 24px;
									}
									h5 {
										font-size: 16px;
									}
									.get-tickets {
										font-size: 17px;

									}
								}
							}
							.col-sm-6 {
								padding-left: 15px;
								padding-right: 15px;
								&.right-column {
									.event-img {
										margin-left: 0;
									}
								}
								.event-img {
									padding-left: 0;
									width: 41.66667%;
								}
								.col-xs-7 {
									padding-left: 15px;
									h3 {
										font-size: 30px;
									}
									h5 {
										font-size: 16px;
									}
								}
							}
						}
						&.content-area {
							&.shows {
								.row {
									.show-wrapper {
										a {
											&.get-tickets {
												line-height: 2em;
												text-align: center;
												width: 100%;
											}
										}
										.show {
											.col-sm-12 {
												height: auto;
												padding-right: 15px;
												.col-lg-9 {
													height: auto;
													h3 {
														font-size: 18px;
													}
												}
												.col-lg-3 {
													border-left: 0;
													border-top: 1px solid #333;
													height: auto;
													h4 {
														font-size: 14px;
														margin-bottom: 5px;
													}
													h5 {
														margin-top: 0;
													}
												}
											}
											.show-info {
												background: rgba(10,10,10,0);
												border-top: 1px solid #333;
												color: #fff;
												text-align: center;
												@include transition(.3s background ease-in-out);
												&:hover {
													background: rgba(0,0,0,.5);
													cursor: pointer;
												}
											}
										}
									}
								}
							}
							padding-left: 15px;
							h1 {
								font-size: 36px;
							}
							h3 {
								font-size: 15px;
							}
							ul {
								padding-left: 1.3em;
							}
							iframe {
								height: 290px !important;
								width: 290px !important;
							}
						}
					}
					.container-fluid {
						&.nav-wrap {
							height: auto;
							nav {
								background: none;
								border: none;
								margin-bottom: 0;
								button {
									background: none;
									border-color: #e0e0e0;
									margin-top: 18px;
									&:focus {
										background: rgba(60,60,60,.5); 	
									}
									.icon-bar {
										background-color: #e0e0e0;
									}
								}
								.navbar-brand {
									height: auto;
									padding: 9px;
									img {
										height: 53px;
									}
								}
								.navbar-collapse {
									ul {
										&.navbar-nav {
											li {
												font-family: $oswald;
												font-weight: 300;
												letter-spacing: 0.13em;
												text-transform: uppercase;
												&.open {
													a {
														background: #292929;
													}
													ul {
														li {
															a {
																background: transparent;
															}
														}
													}
												}
												&.active {
													a {
														background: #292929;
													}
												}
												a {
													color: #fff;
												}
											}
										}
									}
								}
							}
						}
					}
				}
				&.contact {
					.container {
						margin: 50px auto;
						.row {
							.col-sm-7 {
								h1 {
									font-size: 32px;
									margin-top: 0;
								}
								.form {
									.row {
										h5 {
											font-size: 14px;
											margin: -15px 0 3px 0;
										}
									}
								}
							}
						}
					}
				}
				&.footer {
					.row {
						.container {
							.row {
								.col-sm-8 {
									ul {
										li {
											float: none;
											margin: 20px 0;
											&:first-child {
												margin-top: 0;
											}
											a {
												color: #fff;
											}
											ul {
												li {
													font-size: 13px;
													letter-spacing: 0.05em;
												}
											}
										}
									}
								}
								.col-sm-4 {
									h4 {
										font-size: 20px;
										a {
											color: #fff;
										}
									}
									img {
										height: auto;
										max-width: 45%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}